NavigationDrawer {
  -fx-background-color: #2f384b;
  -fx-background: #3c4356;
}

.setting-name {
  -fx-font-size: 1.3em;
  -fx-text-fill: #bdbcbd;
  /* -fx-text-fill: -primary-swatch-700; */
}

.slider { 
  -track-color: linear-gradient(to right, red 0, #2f384b 0);
  -thumb-color: red;
}

.slider .track {
  /* -fx-background-color: -track-color; */
  -fx-background-color: -track-color;
  -fx-padding: 13px;
}

.slider .thumb {
  -fx-background-color: -thumb-color;
}

.slider-label {
  -fx-background-color: #2f384b;
  -fx-text-fill: #bdbcbd;
}

.disabled {
  -fx-text-fill: #676565;
}
